// Базовые стили
@use 'sass:color';
@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacing-sm;
    color: $primary-color;
}

p {
    margin-bottom: $spacing-sm;
}

a {
    color: $secondary-color;
    text-decoration: none;
    @include transition(color);
    
    &:hover {
        color: color.scale($secondary-color, $lightness: -10%);
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
